/* Add your styles here */
fieldset{
  background-color: #fdfa5321;
  border: 10px yellow solid
}

legend{
    background-color: #fdfa5321;
    color: black;
    padding: 3px 6px;
}

.info-field{
  display: flex;
  flex-direction: row;
}

.my-label{
  width: 250px;
  text-align: right;
  margin-right: 10px;
}

#my-input {
  width: 400px;
  height: 70px;
}

.slider {
  -webkit-appearance: none;
  width: 170px;
  height: 4px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 25px;
  background: lightgray;
  cursor: pointer;
  box-shadow: -1px -1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.scroll-wrap{
  display: flex;
  flex-direction: row;
  width: 100%;

}

.scroll-wrap .scroll-tag{
  color: #fff;
  width: 70px;
  text-align: center;
  
  padding: 1px 10px;
  box-sizing: border-box;
}

.background-red{
  background-color: #c13838;
}

.background-purple{
  background-color: purple;
}



.scroll-wrap .scroll-bar-container{
  width: 1000px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  
  padding: 0;
  margin: 0;
}
